*{
  overflow-wrap: break-word;
  box-sizing: border-box;
}
html{
  overflow-x: hidden;
  height: 100%;
}

body{
  font-family:Turret Road;
  display: flex;
  flex-direction: column;
  margin: 0;
  background-color: #e2e0e0;
}
  nav{
    padding: 10px;
    background-color: white;
    box-shadow: 5px 5px 20px grey;
  }
  main{
    flex: 1;
   color: #2E2EFE;
  }

  header {
    text-align: center;
    background: #2E2EFE;
    color: white;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer {
  background: #2E2EFE;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  color: white;
}
#isla{
  padding: 10px;
}
#buscar{
  background-color: #2E2EFE;
  color: white;
}
.filtro input{
  border-color: #2E2EFE;
  border-radius: 5px;
  color: #2E2EFE;
}
.filtro div{
  color: #2E2EFE;
}
.cancelar{
  margin-top: 10px;
}
#fichas{
  display: grid;
  grid-template-columns: 100%;

}
#fichas #ficha{
  flex-basis: 100%;
  border-radius: 5px;
  background-color: white;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow:0 0 20px -10px #000;
  min-width: 300px;
}
input{
  width: 100%;
}
input:invalid{
  background: red;
}
form{
  background:white;
  font-family:'Montserrat',sans-serif;
}
.botones{
  margin-top: 10px;
  margin-bottom: 10px;
}
hr,h1,h3{
  margin: 0px;
}
hr{
  border-top: 1px solid #2E2EFE;
}
.botones input{
  margin-bottom: 10px;
}

/* -------------------------------------------------------------------------------------------TABLET---------------------------------------------------------------------*/
@media (min-width: 600px) {
  #fichas{
    display: flex;
    flex-wrap: wrap;
  }
  #fichas #ficha{
      background-color: white;
      padding: 10px;
      min-width: 300px;
      margin-right: 10px;
      flex: 1;
  }
  nav{
    padding: 10px;
    background-color: white;
  }

nav .botones{
  display: flex;
  flex-direction: row;
}
}

/* -------------------------------------------------------------------PANTALLA GRANDE----------------------------------------------------------------------------- */
@media (min-width: 1000px) {
  body{
    display: grid;
    grid-template-columns: 200px auto;
    grid-template-rows: 100px auto 100px;
    height: 100%;
  }
  header{
    grid-column: 1 / 3;
    grid-row: 1/1;
  }

  nav{
    padding: 10px;
    background-color: white;
    grid-row: 2 /  span 2 ;
    grid-column: 1/1;
  }
  main{
    grid-column: 2/2;
    grid-row: 2/2;
  }

  #fichas #ficha{
      max-width: 400px;
      background-color: white;
      padding: 10px;
      max-width: 400px;
  }
  footer{
    grid-row: 3/3;
    grid-column: 1/3;
  }
  nav .botones{
    display: flex;
    flex-direction: column;
  }
}
